name: CI-MLflow-Basic

on:
  push:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      - name: Install MLflow
        run: |
          pip install mlflow==2.19.0

      - name: Run MLflow Project
        run: |
          mlflow run MLProject

      - name: Get latest MLflow run id
        run: |
          echo "RUN_ID=$(ls mlruns/1 | tail -n 1)" >> $GITHUB_ENV

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns

      - name: Build Docker Model
        run: |
          mlflow models build-docker \
            -m "runs:/$(ls mlruns/1 | tail -n 1)/model" \
            -n ${{ secrets.DOCKERHUB_USERNAME }}/churn-mlflow-model

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/churn-mlflow-model