name: CI-MLflow-Project

on:
  push:
    branches: [ "main" ]

jobs:
  mlflow-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-variant: Mambaforge
          miniforge-version: 23.11.0-0
          auto-update-conda: false
          activate-environment: ""
          use-mamba: true

      - name: Verify Conda
        shell: bash -l {0}
        run: |
          conda --version
          python --version

      - name: Install MLflow
        shell: bash -l {0}
        run: |
          pip install mlflow==2.19.0

      - name: Run MLflow Project
        shell: bash -l {0}
        run: |
          mlflow run MLProject

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns

      - name: Build Docker Image
        shell: bash -l {0}
        run: |
          RUN_ID=$(ls mlruns/1 | tail -n 1)
          mlflow models build-docker \
            -m runs:/1/$RUN_ID/model \
            -n ${{ secrets.DOCKERHUB_USERNAME }}/churn-mlflow-model

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/churn-mlflow-model